<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    </head>
<body>

  <%= render "layouts/nav_bar" %>
<% if @search_option == 0 %>
  <p> No Search Results, but here are our other recipes! </p>
  <% end %> 
  <% @recipe_searched.each do |recipe| %>
    <div  class="container ">
      <div class ="row offset-2">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 100rem;">
          <div class="card-body ">
            <h3> <%= recipe.name %> </h3>
            <img class="card-img-top" style="width: 60%;" src= <%= recipe.image_name(recipe.name)%> alt="Card image cap">
            <p>Dietary Preferences: <%= recipe.dietary_pref %> </p>
            <p>Cooking Time: <%= recipe.cooking_time %> </p>
            <p> Description: <%=recipe.description %> </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>
</html>