<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
   </head>
  <body>
    <div >

    <div style="color: white;">
        <p>Dish: <%= @food.name %></p> 
        <p>dietary preference: <%= @food.dietary_pref %></p> 
        <p>ingridents: </p>
        <% @food.ingredients.each do |ing| %>
          <p> <ul> <li> <%= ing %> </li> </ul></p>
          <% end %>
         
        <br> 
       
        <p>cooking_time: <%= @food.cooking_time %></p>
        <p>allergies: <%= @food.allergies.join %></p> 
        <p>cooking_instruction: <% @food.cooking_instruction.each do |instruction| %></p> 
          <p>  <ul>
           <li> <%= instruction %> </li>
          </ul> </p>
          <% end %>

        
    
    </div>
   </body>
</html>

