<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
   </head>
  <body>

  <% @foods.each do |food| %>
  
    <div >
        <p>Dish: <%= food.name %></p> 
        <p>Dietary preference: <%= food.dietary_pref %></p>
        <p>Ingredients: 
          <% food.ingredients.each_line do |t|%>
            <% t.each_line do |x| %>
              <%=x%>
            <br>
            <%end%>
          <%end%>
          </p>
        <br> 

        <p>Cooking time: <%= food.cooking_time %></p>
        <p>Allergies: <%= food.allergies.join %></p> 
        <p>Cooking instructions: <% food.cooking_instructions%></p> 
        
    
    </div>

  <% end %>

     





   </body>
</html>

