<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
   </head>
  <body>
  <%= render "layouts/nav_bar" %>
  <center>
  <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/food/meat">Meat</a>
        <div class="card-body">
    
  </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/food/vegetarian">Vegetarian</a>
        <div class="card-body">
    
  </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/food/vegan">Vegan</a>
        <div class="card-body">
   
  </div>
      </li>
    </ul>
  </div>

<div class="card-body" >
  <img class="card-img-top" style="width: 60%;" src= <%=@vegetarian_image%> alt="Card image cap">
  <hr>
    <h5 class="card-title"><%= @vegetarians.name %></h5>
    <p class="card-text"><%= @vegetarians.description %></p>
        <h5> Ingredients </h5>
        <p class="card-text"><%= @vegetarians.ingredients %></p>
        <h5> Cooking Instructions </h5>
        <p class="card-text"> <% @vegetarians.cooking_instructions.each do |x| %>  
          <% x.each do |key, value|  %>
            <%= key %> : <%= value%>
          <% end %>
          </p>
          <% end %>
  </div>  




<%= render "layouts/social_media" %>
</center>
  </body>
  </html>