<style>
#container {
    align-items: stretch;
  }
</style>

<center>
<div class="container my-4" style="align-items: stretch;" id="menu" >

<hr class="mb-5" />

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

<!--Controls-->
<div class="controls-top">
<a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
<a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
</div>
<!--/.Controls-->

<!--Indicators-->
<ol class="carousel-indicators">
<li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
<li data-target="#multi-item-example" data-slide-to="1"></li>

</ol>
<!--/.Indicators-->

<!--Slides-->
<div class="carousel-inner" role="listbox" >

<!--First slide-->
<div class="carousel-item active">
<% @foods.each do |item| %>

            <div class="col-md-4" style="float:left;">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src="lasange.webp" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%=item.name%></h4>
                  <p class="card-text"> <%=item.description%></p>
                  <a class="btn btn-primary">Recipe</a>
                </div>
              </div>
            </div>
            

            <div class="col-md-4" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title"><%=item.name%></h4>
                  <p class="card-text"> <%=item.description%></p>
                  <a class="btn btn-primary">Recipe</a>
                </div>
              </div>
            </div>

            <div class="col-md-4" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title"><%=item.name%></h4>
                <p class="card-text"> <%=item.description%></p>
                <a class="btn btn-primary">Recipe</a>
                </div>
              </div>
            </div>
          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">

            <div class="col-md-4" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title"><%=item.name%></h4>
                <p class="card-text"> <%=item.description%></p>
                <a class="btn btn-primary">Recipe</a>
                </div>
              </div>
            </div>

            <div class="col-md-4" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title"><%=item.name%></h4>
                <p class="card-text"> <%=item.description%></p>
                <a class="btn btn-primary">Recipe</a>
                </div>
              </div>
            </div>

            <div class="col-md-4" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title"><%=item.name%></h4>
                <p class="card-text"> <%=item.description%></p>
                <a class="btn btn-primary">Recipe</a>
                </div>
              </div>
            </div>
            <% end %>

          </div>
          <!--/.Second slide-->


          
        </div>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
    </center>

    