<style>
#container {
    align-items: stretch;
  }
</style>

<center>
<div class="container my-4">
     

      <!--Carousel Wrapper-->
      <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>

        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src= <%= @food[0].image_name(@food[0].name) %> alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[0].name %></h4>
                  <p class="card-text"><%= @food[0].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[0].id) %> </p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src=<%= @food[1].image_name(@food[1].name) %> alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[1].name %></h4>
                  <p class="card-text"><%= @food[1].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[1].id) %> </p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src=<%= @food[2].image_name(@food[2].name) %> alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[2].name %></h4>
                  <p class="card-text"><%= @food[2].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[2].id) %> </p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src=<%= @food[3].image_name(@food[3].name) %> alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[3].name %></h4>
                  <p class="card-text"><%= @food[3].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[3].id) %> </p>
                </div>
              </div>
            </div>

          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src=<%= @food[4].image_name(@food[4].name) %>  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[4].name %></h4>
                  <p class="card-text"><%= @food[4].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[4].id) %> </p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src=<%= @food[5].image_name(@food[5].name) %> alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[5].name %></h4>
                  <p class="card-text"><%= @food[5].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[5].id) %> </p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src=<%= @food[6].image_name(@food[6].name) %> alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[6].name %></h4>
                  <p class="card-text"><%= @food[6].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[6].id) %> </p>
                </div>
              </div>
            </div>

            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="border: 5px solid #5c3971;">
                <img class="card-img-top" src=<%= @food[7].image_name(@food[7].name) %> alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title"><%= @food[7].name %></h4>
                  <p class="card-text"><%= @food[7].description %></p>
                  <p> <%= link_to 'Recipe', food_path(@food[7].id) %> </p>
                </div>
              </div>
            </div>

          </div>
          <!--/.Second slide-->



        </div> <br> <br>
        <!--/.Slides-->

      </div>
      <!--/.Carousel Wrapper-->
    </center>

    